<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>模板字符串的语法</title>
</head>

<script>
    let name = `李三`;
    let age = 30;
    let work= 'teacher';

    function test(...agments){
       console.log('显示值',agments)
    }
    test `my name is ${name} age is${age}`
</script>

<body>
    <h2>模板字符串的语法  -----  styled-component</h2>
</body>
</html>
